body {
    background-color: slateblue;
    font-family: 'open sans', 'comic';
    font-size: 22px;
}
td{
    vertical-align: text-top;
}
ul{
    list-style-type: none;
}
a {
    text-decoration: none;
    color: all;
}
div {
    color: saddlebrown;
    height: 100%;
    height: 100%;
    padding: 20px 30px 40px 10px;
    margin: 10px;
    border: 1px solid darkblue;
    background-color: darkcyan;
    border-radius: 15px;
    border:solid 2px aqua;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px #3aeb0e;
}